<?xml version="1.0"?>

<model>
  <name>mrsim-tiltrotor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Youssef Aboudorra, RaM, University of Twente</name>
    <email>y.a.l.a.aboudorra@utwente.nl</email>
  </author>

  <description>
    A tiltable rotor 
  </description>
</model>
